@model AKP_TrackManager.Models.TrackConfiguration

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>TrackConfiguration</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TrackId" />
            
            <div class="form-group">
                <label asp-for="Length" class="control-label"></label>
                <input asp-for="Length" class="form-control" />
                <span asp-validation-for="Length" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PresetName" class="control-label"></label>
                <input asp-for="PresetName" class="form-control" />
                <span asp-validation-for="PresetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PresetNumber" class="control-label"></label>
                <input asp-for="PresetNumber" class="form-control" />
                <span asp-validation-for="PresetNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PresetImageLink" class="control-label"></label>
                <input asp-for="PresetImageLink" class="form-control" />
                <span asp-validation-for="PresetImageLink" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Reversable" /> @Html.DisplayNameFor(model => model.Reversable)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-danger">Back to List</a>
</div>

