@model AKP_TrackManager.Models.ClubMembership

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>ClubMembership</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <h4 style="color:red">
            @Html.ValidationSummary(false)
        </h4>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="JoinDate" class="control-label">Join Date</label>
                <input asp-for="JoinDate" type="date" valu class="form-control" />
                <span asp-validation-for="JoinDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FeeAmount" class="control-label">Fee Amount</label>
                <input asp-for="FeeAmount" min="0" class="form-control" />
                <span asp-validation-for="FeeAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberMemberId" class="control-label">Member</label>
                <select asp-for="MemberMemberId" class ="form-control" asp-items="ViewBag.MemberMemberId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-danger">Back to List</a>
</div>

