@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj @User.Identity.Name!</h1>
    <h2>AutomobilklubPolski Track Manager</h2>
    <p>Dowiedz się więcej <a href="http://www.automobilklubpolski.pl/netfortis/uploads/2021/04/regulaminKM2017.pdf">o zasadach panujących na naszych treningach</a>.</p>
</div>
