@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj @User.Identity.Name!</h1>
    <h2>AutomobilklubPolski Track Manager</h2>
    <p>Dowiedz się więcej <a href="https://docs.microsoft.com/aspnet/core">o zasadach panujących na naszych treningach</a>.</p>
</div>
