@model AKP_TrackManager.Models.TrainingAttandance

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>TrainingAttandance</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Member
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberMember.Name) @Html.DisplayFor(model=> model.MemberMember.Surname)
        </dd>
        <dt class = "col-sm-2">
            Training
        </dt>
        <dd class = "col-sm-10">
            @Model.TrainingTraining.Date.ToString("dd.MM.yyyy") - @Html.DisplayFor(model => model.TrainingTraining.LocationLocation.FriendlyName)
        </dd>
    </dl>
</div>
<div>    
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
