@model IEnumerable<AKP_TrackManager.Models.Role>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Roles</h1>

@*<p>
    <a asp-action="Create" class="btn btn-primary">Add New Role</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                Role Name
            </th>
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
           @* <td>                
                    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.RoleId">Edit</a>
                    <a asp-action="Delete" class="btn btn-danger"  asp-route-id="@item.RoleId">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
